{
    # Global options
    admin off
}

:80 {
    # Handle chiptune paths
    handle_path /chip/* {
        reverse_proxy iceprxy-chiptune:3000
    }

    # Handle vapor funk paths
    handle_path /vapor/* {
        reverse_proxy iceprxy-vapor:3000
    }

    # All other traffic goes to the main application
    handle {
        reverse_proxy chipend:4321
    }

    # Enable compression
    encode gzip
}
