---
import Layout from "../layouts/main.astro";
import { Icon } from "astro-icon/components";
import ChiptunePlayer from "../components/chiptuneplayer.tsx";
---

<Layout>
	<div class="min-h-screen flex flex-col bg-gray-900">
    <div class="container mx-auto px-4 flex flex-col min-h-screen">
      <a 
        href="/" 
        class="pixel-text mt-4 inline-flex items-center hover:opacity-80 transition-opacity w-fit"
      >
        <Icon name="lucide:arrow-left" class="mr-2" size={24} />
        Back to Home
      </a>
      <div class="flex-1 flex items-center justify-center">
        <ChiptunePlayer client:load endpoint="/chip" />
      </div>
    </div>
  </div>
</Layout>