---
import { ClientRouter } from 'astro:transitions';
import '../global.css';
---
<html lang="en" class="h-full">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="generator" content={Astro.generator} />
		<title>Krelez Random Radio Station</title>
		<ClientRouter />
	</head>
	<body class="min-h-screen">
		<slot />
	</body>
</html>
